$background-primary: var(--bg-primary);
$background-secondary: var(--bg-secondary);
$background-third: var(--bg-third);

$brand-primary: var(--brand-primary);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-correct: var(--text-correct);
$text-wrong: var(--text-wrong);

$border-primary: var(--border-primary);