.container {
    padding: $s-24;
    background-color: white;
    border-radius: $s-24;
    cursor: pointer;
    border: 1px solid $border-primary; // Added border for better visibility without shadow
}

.header {
    margin-bottom: $s-16;
}

.scoreContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(61, 123, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    padding: $s-12;
    background-color: $background-secondary;
    border-radius: $s-12;
    margin-top: $s-16;
}
