.container {
    padding: $s-4 $s-8;
    cursor: pointer;
}

.number{
    background-color: $background-third;
    min-width: 24px;
    height: 24px;
    border-radius: 999px;
    transition: background-color 0.2s ease;
}

.active {
    background-color: $brand-primary;
}