.container {
    width: 100%;
    min-height: 100vh;
    background-color: $background-secondary;
    padding-bottom: 120px;

    @media (min-width: 768px) {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
    }
}

.desktopContent {
    width: 100%;
    
    @media (min-width: 768px) {
        margin-left: 280px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

.contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: $s-16;

    @media (min-width: 768px) {
        max-width: 800px;
        padding: 0; 
    }
}

.progressBarBackground {
    width: 100%;
    height: 8px;
    background-color: $background-secondary;
    border-radius: 999px;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    background-color: $brand-primary;
    border-radius: 999px;
    transition: width 0.5s ease-out;
}

.statusBadge {
    padding: 2px 8px;
    background-color: rgba($brand-primary, 0.1);
    border-radius: 4px;
}

.typeBox {
    background-color: $background-secondary;
    padding: $s-12 $s-16;
    border-radius: $s-12;
}

.growthBox {
    background-color: $background-secondary;
    padding: $s-16 $s-24;
    border-radius: $s-16;
}

.trendBadge {
    padding: 4px 8px;
    background-color: rgba($brand-primary, 0.1);
    border-radius: 999px;
}

.wrongBadge {
    padding: 2px 8px;
    background-color: rgba($text-wrong, 0.1);
    border-radius: 4px;
    
    p {
        color: $text-wrong !important;
    }
}

.wrongBox {
    background-color: $background-secondary;
    padding: $s-12 $s-16;
    border-radius: $s-12;
}


.nextButton{
    padding: $s-16 !important;
    background-color: $brand-primary !important;
    border-radius: $s-16 !important;
    width: 100%;
}
