

.check{
    width: 32px;
    height: 32px;
    background-color: $brand-primary;
    border-radius: $s-12;
}

.uncheck{
    width: 32px;
    height: 32px;
    background-color: $background-third;
    border-radius: $s-12;
}