.desktopContainer {
    width: 100%;
    min-height: 100vh;
    background-color: $background-secondary;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        overflow: hidden;
    }
}


.articleColumn {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: white;
        overflow-y: auto;
        gap: 24px;
        border-right: 1px solid $border-primary;
    }
}


.questionColumn {
    padding: $s-16;
    background-color: $background-secondary;
    
    @media (min-width: 768px) {
        padding: 40px;
        overflow-y: auto;
        height: 100%;
    }
}


.header {
    border-bottom: 1px solid $border-primary;
    padding-bottom: 24px;
}

.content {
    line-height: 1.8;
}

.button {
    width: 100%;
    padding: $s-12;
    background-color: $brand-primary !important;
    border-radius: $s-16 !important;
}
