.container {
    min-width: 50px;
    padding: $s-8 $s-4;
    border-radius: $s-12;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    p {
        white-space: nowrap;
        text-align: center;
        width: 100%;
    }
}

.active {
    background-color: $brand-primary;

    p {
        color: $background-primary !important;
    }

    svg {
        stroke: $background-primary;
    }
}