.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 24px;
}

.content {
    width: 100%;
    max-width: 400px;
}

.input {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid $border-primary;
    background-color: $background-secondary;
    font-size: 16px;
    outline: none;
    transition: all 0.2s;

    &:focus {
        border-color: $brand-primary;
        background-color: white;
    }
}

.loginButton {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: $border-primary;
}

.socialButton {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid $border-primary;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: $background-secondary;
    }
}
