.container {
    width: 100vw;
    height: 100vh;
    background-color: $background-secondary;

    @media (min-width: 768px) {
        display: flex;
        overflow: hidden;
    }
}

.pageContent {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: $s-20;
    padding-bottom: 120px;

    @media (min-width: 768px) {
        padding: 40px;
        padding-bottom: 40px;
        flex: 1;
    }
}

.mobileHeader {
    margin-bottom: $s-16;

    @media (min-width: 768px) {
        display: none;
    }
}

.gridContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reportListWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.mobileBottomBar {
    @media (min-width: 768px) {
        display: none;
    }
}