.container {
    min-height: 100vh;
    padding: $s-16;
    background-color: $background-secondary;
    padding-bottom: 120px;
}

.section {
    padding: $s-24;
    background-color: $background-primary;
    border-radius: $s-24;
    width: 100%;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $background-third;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.editIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $brand-primary;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $background-primary;
}

.inputGroup {
    width: 100%;
}

.input {
    width: 100%;
    padding: $s-16;
    background-color: $background-secondary;
    border-radius: $s-12;
    border: none;
    color: $text-primary;
    font-size: 16px;
    font-weight: 500;
    
    &:focus {
        outline: 1px solid $brand-primary;
    }

    &:disabled {
        color: $text-secondary;
        cursor: not-allowed;
    }
}

.deleteButton {
    width: 100%;
    padding: $s-16;
    background-color: rgba(218, 127, 127, 0.1);
    border-radius: $s-12;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
