.container {
    padding: $s-24;
    background-color: white;
    border-radius: $s-24;
    border: 1px solid $border-primary; // Added border for better visibility without shadow
}

.header {
    margin-bottom: $s-24;
}

.chartContainer {
    width: 100%;
    height: 200px;
    font-size: 12px;
}
