.container {
    padding: $s-24;
    background-color: white;
    border-radius: $s-24;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.header {
    margin-bottom: $s-24;
}

.chartContainer {
    width: 100%;
    height: 200px;
    font-size: 12px;
}
